html {
    height:100%;
}

body {
   
    background-color: #fffffe;

}
header {
    margin: 30px 0;
}
.contenido {
    padding:20px;
}
.contenido-principal {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow:
  7.7px 26.9px 20.3px -44px rgba(0, 0, 0, 0.121),
  18.8px 66.1px 70px -44px rgba(0, 0, 0, 0.143),
  35px 123px 231px -44px rgba(0, 0, 0, 0.4)
;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}
#gastos {
    margin-bottom: 30px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #094067;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:#000;
    font-size: 22px;
    margin-bottom:30px;
}
.btn-bg{
    background-color: #ef4565;
    color: #fff;
    padding: 10px 34px;
}
.btn-bg-2{
    background-color: #3da9fc;
    color: #fff;
    padding: 10px 34px;
}

